*{
    font-size: 3px;
}

.content{
    width: 80vw;
    /* hola comment */
}


.firstDiv, .secondDiv, .thirdDiv{
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;

}

.firstDiv{
    background-image: url("hola2.jpg");
}

.secondDiv{
    background-image: url("hola1.jpeg");
}

.thirdDiv{
    background-image: url("hola3.jpg");
}

.contentDiv{
    width: 70%;
    height: 70%;
    background-color: white;
    opacity: .6;
    position: relative;
    left: 15%;
    top: 15%;
}

.contentDiv>h1{
    text-align: center;
    padding-top: 10px;
}

ul{
    background-color: red;
    opacity: .8;
}

li{
    display: inline-block;
    border-style: solid;
}

.divDelCover1{
    background-image: url("hola1.jpeg");
    border: 2px dotted olivedrab;
    background-size: cover;
    background-repeat: no-repeat;
    width: 20vh;
    height: 20vh;
}

h1::after{
    content: "!!";
}

h1::before{
    content: "¡¡";
}